Index:
  Background: Skip

CompileFlags:
  Compiler: g++
  Add:
    - -O2
    - -DLOCAL
    - -std=c++17
    - -Wshadow
    - -Wall
    - -fsanitize=address
    - -fsanitize=undefined
    - -D_GLIBCXX_DEBUG

    - -I/usr/include/c++/11
    - -I/usr/include/x86_64-linux-gnu/c++/11
    - -I/usr/include/c++/11/backward
    - -I/usr/lib/gcc/x86_64-linux-gnu/11/include
    - -I/usr/local/include
    - -I/usr/include/x86_64-linux-gnu
    - -I/usr/include

# get gcc headers from:
# gcc -E -v -xc++ /dev/null
